// Fonts

$main_font: 'Poppins', sans-serif;

// Media Queries size

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors

$blue: #0da6f3;
$red: #cb0000;
$green:#329f00;
$black: #1a1b15;

$white: #FFFFFF;
$gray: #e1e1e1;

$separation: 5rem;

// Fonts

$thin: 300;
$regular : 400;
$bold: 700;
$boldest: 900